@model IEnumerable<BW.Data.Contract.DTOs.RoleInPermissonView>
@using BW.Website.Common.Helpers
@{
    ViewBag.Title = "Index";
}

<h2>Role In Permission</h2>
<div>
    <select class="ddlRoles">
        @foreach (var item in RoleHelper.GetAllRole().Data)
        {
            <option value="@item.RoleId" id="@item.RoleName">@item.RoleName</option>
        }
    </select>
</div>
<br />

<div id="myPartialContainer"></div>

@*@Scripts.Render("~/bundles/jquery")

@*<script>
        $(".ddlRoles").change(function () {
            var roleName = $(this).val();
            $("td.lstRoles ").each(function (index) {
                if ($(this).html().trim() == roleName) {
                    $(this).closest('tr').css("display", "");
                } else
                    $(this).closest('tr').css("display", "none");
            });
        });
        $('.ddlRoles').change();
    </script>*@

<script>
    $(document).ready(function () {
        initialLoad();
    });

    function initialLoad() {
        var roleId = $(".ddlRoles").val();
        renderPermissionList(roleId);
    }

    $(".ddlRoles").change(function () {
        var roleId = $(this).val();
        renderPermissionList(roleId);
    });

    function renderPermissionList(roleId) {
        $.ajax({
            url: 'http://localhost:8790/RoleInPermission/ShowData/?roleIdEnc=' + roleId,
            dataType: 'html',
            success: function (data) {
                $('#myPartialContainer').html(data);
            }
        });
    }
</script>